footer{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
}
.footer-content {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 10px;
}

.footer-content p {
    text-decoration: none;
    color: black;
}