nav{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 10px;
    position: sticky;
    z-index: 100;
    top:0;
}
.nav-links {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.active-home, .nav-links a:nth-child(1):hover {
    color: var(--tan)!important;
}
.active-stitch, .nav-links a:nth-child(2):hover {
    color: var(--pink)!important   ;
}
.active-minigame, .nav-links a:nth-child(3):hover {
    color: var(--purple)!important;
}
.active-upcycle, .nav-links a:nth-child(4):hover {
    color: var(--blue)!important;
}
